# Lab 13: pandas

# Task 0

import pandas and verify that pandas is available to use.

In [1]:
import pandas as pd

# Task 1

(a) Assume that `iris_1.csv` is placed with this ipynb file together in the same folder, can you read it, name the dataframe **df** and show the first 4 rows? You can leave index_col as empty.

(b) Consider `iris_2.csv` is placed in a folder named `data`, and the folder is placed with this ipynb file in the same folder. Can you read it, name the dataframe **df2** and show the last 8 rows? This time set the first column to be index_col. What can you tell about index_col?

In [2]:
df = pd.read_csv("iris_1.csv")
df.head(4)

,index,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,0,NaN,3.5,1.4,0.2,0.0
1,1,NaN,3.0,NaN,NaN,0.0
2,2,4.7,NaN,1.3,0.2,0.0
3,3,4.6,3.1,1.5,0.2,NaN

In [3]:
df2 = pd.read_csv("data/iris_2.csv", index_col = 'index')

df2.tail(8)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
index,,,,,
142,5.8,2.7,5.1,1.9,2
143,6.8,3.2,5.9,2.3,2
144,6.7,3.3,5.7,2.5,2
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [4]:
# You can set index_col = 0 as well.
df3 = pd.read_csv("data/iris_2.csv", index_col = 0)

df3.tail(8)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
index,,,,,
142,5.8,2.7,5.1,1.9,2
143,6.8,3.2,5.9,2.3,2
144,6.7,3.3,5.7,2.5,2
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

# Task 2

**We will stick to df created in Task 1(a) onwards.**

Apply `.shape`, `.describe()` to column `petal length (cm)`, and apply `.info()` to df, what do they tell you?

In [5]:
df['petal length (cm)'].shape # 1-D, so blank after comma

(150,)

In [6]:
df['petal length (cm)'].describe()

count    144.000000
mean       3.857639
std        1.731145
min        1.000000
25%        1.600000
50%        4.400000
75%        5.100000
max        6.900000
Name: petal length (cm), dtype: float64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
index                150 non-null int64
sepal length (cm)    116 non-null float64
sepal width (cm)     144 non-null float64
petal length (cm)    144 non-null float64
petal width (cm)     145 non-null float64
target_names         128 non-null float64
dtypes: float64(5), int64(1)
memory usage: 7.2 KB

# Task 3

(a) Replace missing values in column `sepal length (cm)` with mean, without using `inplace` argument.

(b) Read `iris_1.csv` again, and replace missing values in column `sepal length (cm)` with mean, with the use of `inplace` argument.

(c) Show the mode in column `target_names`, replace missing values in **df** with mode.

In [8]:
df['sepal length (cm)'].describe() # Before

count    116.000000
mean       5.637931
std        0.736461
min        4.300000
25%        5.000000
50%        5.600000
75%        6.200000
max        7.600000
Name: sepal length (cm), dtype: float64

In [9]:
df["sepal length (cm)"][109:147] # Before

109    7.2
110    6.5
111    6.4
112    NaN
113    NaN
114    NaN
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
122    NaN
123    NaN
124    NaN
125    NaN
126    NaN
127    NaN
128    NaN
129    NaN
130    NaN
131    NaN
132    NaN
133    NaN
134    NaN
135    NaN
136    NaN
137    NaN
138    NaN
139    NaN
140    NaN
141    NaN
142    NaN
143    NaN
144    6.7
145    6.7
146    6.3
Name: sepal length (cm), dtype: float64

In [10]:
df["sepal length (cm)"] = df["sepal length (cm)"].fillna(df["sepal length (cm)"].mean())

In [11]:
df['sepal length (cm)'].describe() # After

count    150.000000
mean       5.637931
std        0.647002
min        4.300000
25%        5.100000
50%        5.637931
75%        6.000000
max        7.600000
Name: sepal length (cm), dtype: float64

In [12]:
df["sepal length (cm)"][109:147] # After

109    7.200000
110    6.500000
111    6.400000
112    5.637931
113    5.637931
114    5.637931
115    5.637931
116    5.637931
117    5.637931
118    5.637931
119    5.637931
120    5.637931
121    5.637931
122    5.637931
123    5.637931
124    5.637931
125    5.637931
126    5.637931
127    5.637931
128    5.637931
129    5.637931
130    5.637931
131    5.637931
132    5.637931
133    5.637931
134    5.637931
135    5.637931
136    5.637931
137    5.637931
138    5.637931
139    5.637931
140    5.637931
141    5.637931
142    5.637931
143    5.637931
144    6.700000
145    6.700000
146    6.300000
Name: sepal length (cm), dtype: float64

In [13]:
df4 = pd.read_csv("iris_1.csv")

df4["sepal length (cm)"][120:130]

120   NaN
121   NaN
122   NaN
123   NaN
124   NaN
125   NaN
126   NaN
127   NaN
128   NaN
129   NaN
Name: sepal length (cm), dtype: float64

In [14]:
df4["sepal length (cm)"].fillna(df["sepal length (cm)"].mean(), inplace = True)

df4["sepal length (cm)"][120:130]

120    5.637931
121    5.637931
122    5.637931
123    5.637931
124    5.637931
125    5.637931
126    5.637931
127    5.637931
128    5.637931
129    5.637931
Name: sepal length (cm), dtype: float64

In [15]:
df['target_names'].value_counts()

0.0    49
1.0    46
2.0    33
Name: target_names, dtype: int64

In [16]:
# Mode
df['target_names'].value_counts().index[0]

0.0

In [17]:
df["target_names"].fillna(df["target_names"].value_counts().index[0], inplace = True)

In [18]:
df['target_names'].value_counts()

0.0    71
1.0    46
2.0    33
Name: target_names, dtype: int64

# Task 4

(a) Drop column `index` and `petal width (cm)`.

(b) Check the csv file, are the columns deleted in the csv file?

In [19]:
df.drop(columns = ['index', 'petal width (cm)'], inplace = True)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  target_names
0             5.637931               3.5                1.4           0.0
1             5.637931               3.0                NaN           0.0
2             4.700000               NaN                1.3           0.0
3             4.600000               3.1                1.5           0.0
4             5.000000               3.6                1.4           0.0
..                 ...               ...                ...           ...
145           6.700000               3.0                5.2           0.0
146           6.300000               2.5                5.0           0.0
147           6.500000               3.0                5.2           0.0
148           6.200000               3.4                5.4           0.0
149           5.900000               3.0                5.1           0.0

[150 rows x 4 columns]