# systematic trading 
quant strategy 
- risk parity 

#### risk arbitrage
- statistical arbitrage
- mean reverting
- paris trading (<mkt risk)
#### directional trading
#### the intrinsic reason of investing
1. risk premium
2. liquidity premium (mkt makers)(distressed investing)


alternative data
transformers, BERT
backtesting (package)

ETF Nav premium (hv momentum, high demand, buy)

In [ ]:
data cleansing
DB merging
BT 
evaluate
optimize

In [ ]:
max drawdown 
sharpe ratio

In [ ]:
set: for (set notation)
union diff intersect

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame([1,2,3,4,5,4,3,2,1])#.plot()

df['return'] = df[0].pct_change()

df

   0    return
0  1       NaN
1  2  1.000000
2  3  0.500000
3  4  0.333333
4  5  0.250000
5  4 -0.200000
6  3 -0.250000
7  2 -0.333333
8  1 -0.500000

In [ ]:
EDA 
df.info()
plot
head/ tail

In [ ]:
descriptive stats
df.describe() 
#mean reverting for return NOT PRICE!

lower partial standard deviation


pearson product moment correlation coeff.

In [11]:
df[[0,'return']].corr()  #[[]] matrix

ceteris paribus

               0    return
0       1.000000  0.207578
return  0.207578  1.000000

In [ ]:
backtesting
zipline


fortune insight prime 

calmar ratio >2 

systematic trading

trading is risk reduction

dont spend too much time optimizing, strategy more complex, stability low

quantopian

long short us equity strategy rebalancing

5 trading strategy over sharpe 0.5 (0 correlation), then allocate 20% each, lower total portfolio risk

FED swap line


risk adj. return

breakeven pt.