**A = above**

**B = below**

**M = Markdown cell**

**DD = delete cell**

In [1]:
1.2+2

3.2

In [2]:
#arithmetic operators

5*2
5**4
5/5 # must be float

1.0

In [2]:
15/3

5.0

In [3]:
17//3 #quotient

5

In [4]:
17%3 #remainder

2

In [5]:
#comparison operators
3>=5

False

The table summarizes comparision operators:

| Operator | Meaning |
|----|---|
| == | **Equal to** - `True` if both operands are equal |
| !=  | **Not equal** to - `True` if operands are not equal |
| < | **Less than** - `True` if left operand is less than the right |
| > | **Greater than** - `True` if left operand is greater than the right |
| <=  | **Less than or equal to** - `True` if left operand is less than or equal to the right |
| >=  | **Greater than or equal to** - `True` if left operand is greater than or equal to the right |

In [6]:
# chained in the mathematically obvious way
# it can only be written as 2 < 5 and 5 <= 5.0 in other languages
2 < 5 <= 5.0

True

In [8]:
5<2<=6

False

In [9]:
not True

False

In [10]:
False or False

False

In [11]:
True and False #you cannot be true and false at the same time

False

In [12]:
False and False

False

In [14]:
True or False #either true or false, you are correct

True

In [15]:
2<5 and not False

True

In [4]:
2 != 5 and 5 < 4.0 or 5 < 1024

True

In [3]:
5<5.0

False

Logical operators in Python are summarized as follows. The order indicates the relative levels of precedence (ordered by descending priority):


|Operator|Meaning|
|:-- |:-- |
|not|True if operand is false (complements the operand)|
|and|True if both the operands are true|
|or|True if either of the operands is true|

In [5]:
print(3.8e15)

3800000000000000.0

In [21]:
type(-3)

int


<img src="https://drive.google.com/uc?id=19zYct-z0nt46oiV3bF-bavFnc-8Pj_yy" />

In [22]:
# %= +=
x=15
x/=5; x

3.0

In [23]:
id(x)

1802276420528

In [ ]:
#naming variables

#cannot start with number

In [24]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [26]:
#func. f(x)
abs(-0.5)

0.5

In [27]:
round(0.234798,3)

0.235

In [28]:
max(1, 3, 5, 7, 9)

9

In [29]:
pow(2, 3)

8

In [30]:
divmod(9,2) #(quotient, remainder)

(4, 1)

In [31]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

## Escape Sequences

An  <font color='royalblue'><b>*escape sequence*</b></font> (of characters) can be used to denote a special character which cannot be typed easily on a keyboard or one which has been reserved for other purposes.

Some common escape sequences include:

|Sequence|Meaning|
|:-- |:-- |
|`\\`|literal backslash|
|`\'`|single quote|
|`\"`|double quote|
|`\t`|tab|
|`\n`|newline|

In [32]:
print("I don\'t think \"a\" is equal to \"A\" in \'Python\'")

I don't think "a" is equal to "A" in 'Python'

In [33]:
"I don\'t think \"a\" is equal to \"A\" in \'Python\'"

'I don\'t think "a" is equal to "A" in \'Python\''

In [7]:
name = input("What is your name? ")
name2 = input("What is your name? ")
name3 =input("What is your name? ")
#input default str

What is your name? a
What is your name? a
What is your name? a

In [39]:
print(name, 'is', name2, 'at', name3, 'years old.')

ada is ben at cat years old.

In [8]:
print(name, 'is', name2, sep='-', end='\t')

a-is-a

In [41]:
course = 'Python Programming'
course + ' for Business Analtytics'

'Python Programming for Business Analtytics'

In [11]:
'a' ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [9]:
course / 2 #wont work

NameError: name 'course' is not defined

In [ ]:
course - 2 #wont work

In [44]:
'a' not in 'Apple'

True

In [45]:
'api' == 'Api'

False

In [13]:
'px' > 'az'

True


-  The comparison operators (e.g., `==`, `>`, `<=`) compare strings ***lexicographically***, the way in which sequences are ordering  based on the <b>*alphabetical order*</b> of their component characters:

   - In alphabetical ordering, digits come before letters and capital letters come before lowercase letters.
     - i.e., digits (as characters) < uppercase letters < lowercase letters.
   - Compare the leftmost characters first, and generate `True` or `False` if their values differ, or continue until a difference is observed.

In [47]:
'z'>'a'

True

In [14]:
4 > 'a'

TypeError: '>' not supported between instances of 'int' and 'str'

In [51]:
len('api')

3

In [54]:
course[-1] #last character

'g'

In [16]:
'python programming'[-3*6] #-18

'p'

<img src="https://drive.google.com/uc?export=download&id=1EHN00tdfvArl7ci6ulNN2KS9_Or3yzWa" width=600></img>