# Create 
### Series/ DataFrame
#### 1. list
    pd.Series(list_1, index= ['a','b','c']) ## index = list('abc') 
    pd.DataFrame(list('python'))
    
#### 2. Dict
   <span style='color:yellow'>for multiple list</span>
   
    pd.Series({'jan':1, 'feb':2, 'mar':3}) 
    pd.DataFrame([{'a':i, 'b':i**2} for i in range(3)])
#### 3. Numpy array

    pd.Series(np.array1)
    pd.DataFrame(np.ones(6).reshape(1,-1), columns=list('python')

#### 4. Pd series

    pd.DataFrame({'col1':pd.Ser1, 'col2':pd.Ser2})
    
<span style='color:red'>make use of list comprehension for sequence</span>

# Import/ Export 

### Import

#### 1. From web
    ! curl -L -s -o Stock.csv "https://www.abc.com/abc.csv/"
#### 2. Read file (csv/xls)
    df = pd.read_csv('stock.csv')
    df = pd.read_excel('abc.xls')

### Export

#### 1. To CSV
    df.to_csv('sample.csv')
    
   <span style='color:yellow'>#drop index, utf_8_sig</span>
    
    listed_df.to_csv('HK_listed_report.csv',index=False, encoding='utf_8_sig')

#### 2. To Excel 
    df.to_xls('sample.xls')
#### 3. ExcelWriter
   #1. Export to an Excel file
   NB: If you don't include a file path like 'C:\Users\Ron\Desktop\File_Name.xlsx'
   It will save to your default folder, that is where the file you're reading from is located.
    
    xlwriter = pd.ExcelWriter('CCT_forecast_filter.xlsx')
    
   #2. Write each dataframe to a worksheet with a name
    
    six_month.to_excel(xlwriter, sheet_name = '6months_forecast_filter', index = False)
    one_yr.to_excel(xlwriter, sheet_name = '1year_forecast_filter', index = False)
    other_df.to_excel(xlwriter, sheet_name = 'Others', index = False)
    Pivot_table.to_excel(xlwriter, sheet_name = 'Pivot_table')

   #3. Close the instance
    
    xlwriter.close()

# Formatting
#### 1. Rename column/index
<span style='color:yellow'>in order</span>

    df.columns = ['b', 'c']
    df.index = ['a', 'b', 'c']
<span style='color:yellow'>specific</span>

    df.rename(columns= {'a':'one', 'c':'three')
    df.rename(index=
    
#### 2.

In [24]:
table.columns = ['b']
table.index =['a', 'b', 'c', 'd']
table #all change

   b
a  1
b  3
c  4
d  5

# Edit 

#### 1. add rows
<span style='color:yellow'>index = 1</span>

    df1.append(['a'] ## rows

In [48]:
df = pd.DataFrame(['s', 's', 'd'])
df.append(['a'])

   0
0  s
1  s
2  d
0  a

#### 1. Apply to all values in a dataframe/ element-wise

In [1]:
df_b.applymap(type)

NameError: name 'df_b' is not defined